<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8"/>
            <title>List Of Players</title>

            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
                  th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

            <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                    crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
        </head>
<body>
<!--/*@thymesVar id="event" type="com.przemekost.findmatch.domain.Event"*/-->
<!--/*@thymesVar id="team" type="com.przemekost.findmatch.domain.Team"*/-->
<!--/*@thymesVar id="players" type="java.util.Set<com.przemekost.findmatch.commands.PlayerCommand>"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Players</h1>
                </div>
                <div class="panel-body">

                    <div class="table-responsive" th:if="${not #lists.isEmpty(event.players)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Przemek</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>12333</td>
                                <td>Michal</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:each="player : ${event.players}">
                                <td th:text="${player.id}">334</td>
                                <td th:text="${player.playerName} + ' ' + ${player.playerLastName}">Przemek Ostrouch</td>
                                <td><a href="#" th:href="@{'/event/' + ${event.id} + '/player/' + ${player.id} + '/show'}">View</a> </td>
                                <td><a href="#" th:href="@{'/player/' + ${player.id} + '/update'}">Update</a></td>
                                <td><a href="#" th:href="@{'/event/' + ${event.id} + '/player/' + ${player.id} + '/delete'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html></title>
</head>
<body>

</body>
</html>