<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Event Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="event" type="com.przemekost.findmatch.domain.Event"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${event}" th:action="@{/event/}">
                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Event Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Event Name:</label>
                                    <input type="text" class="form-control" th:field="*{eventName}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Start time:</label>
                                    <input type="datetime-local" class="form-control" th:field="*{startTime}"/>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label>End time:</label>
                                        <input type="datetime-local" class="form-control" th:field="*{endTime}"/>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>Price per person:</label>
                                        <input type="number" class="form-control" th:field="*{price}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-11 ">
                                    <h1 class="panel-title">Organizers</h1>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-default" href="#" role="button">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <li th:remove="all">Mateusz Hnatyszyn</li>
                                        <li th:remove="all">Przemyslaw Ostrouch</li>
                                        <li th:each="organizer : ${event.organizers}"
                                            th:text="${(organizer.getOrganizerName() +
                                        ' ' + organizer.getOrganizerLastName())}">Jakub Ostrouch
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-11 ">
                                    <h1 class="panel-title">Teams</h1>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-default" href="#" role="button">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Teams:</label>
                                    <select class="form-control" name="team.id" multiple>
                                        <option th:each="team : ${teamList}"
                                                th:value="${team.id}"
                                                th:selected="${team.id.equals(event.teams)}"
                                                th:text="${team.teamName}">Jeppesen</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-11 ">
                                    <h1 class="panel-title">Location:</h1>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-default" href="#" role="button">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>City:</label>
                                    <input type="text" class="form-control" th:field="*{location.cityName}"/>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label>Street:</label>
                                        <input type="text" class="form-control" th:field="*{location.streetName}"/>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>Street number:</label>
                                        <input type="number" class="form-control" th:field="*{location.streetNumber}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>