<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Event</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" th:text="${event.eventName}">Even name here!</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Football Pitch:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${event.location.getCityName()}">Here will be a date with time</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Start Time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${event.startTime}">Here will be a date with time</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>End Time::</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${event.endTime}">Here will be a date with time</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Price:</h5>
                            </div>
                            <div class="col-md-3">
                                <!--/*@thymesVar id="event" type="com.przemekost.findmatch.domain.Event"*/-->
                                <p th:text="${event.getPrice()}">Here will be a price!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Organizer:</h5>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <li th:remove="all">Organizer 1</li>
                                    <li th:remove="all">Organizer 2</li>
                                    <!--/*@thymesVar id="event" type="com.przemekost.findmatch.domain.Event"*/-->

                                    <li th:each="organizer : ${event.organizers}"
                                        th:text="${organizer.getOrganizerLastName()}">Organizer 2
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-11 ">
                                <h1 class="panel-title">Organizers</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-default" href="#" th:href="@{'/event/' + ${event.id} + '/organizers/show'}" role="button">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:remove="all">Przemek Ost</li>
                                    <li th:remove="all">Michal Rz</li>
                                    <li th:each="organizer : ${event.organizers}"
                                        th:text="${(organizer.getOrganizerName())}">Robek K</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-11 ">
                                <h1 class="panel-title">Players</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-default" href="#" th:href="@{'/event/' + ${event.id} + '/players/show'}" role="button">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:remove="all">Przemek</li>
                                    <li th:remove="all">Michal</li>
                                    <li th:each="player : ${event.players}"
                                        th:text="${(player.getPlayerName()) + ' ' + (player.getPlayerLastName())}" + >Trololo Team</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Location</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                                <div class="col-md-12">
                                <ul>
                                    <li th:remove="all">Football Pitch 1</li>
                                    <!--/*@thymesVar id="event" type="com.przemekost.findmatch.domain.Event"*/-->
                                    <li th:each="footballPitch : ${event.location.footballPitches}"
                                        th:text="'Maximum amount of players: ' + ${footballPitch.getMaxAmountOfPlayers()}">Football Pitch 2</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>