<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sport Event Home Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="teams" type="java.util.List"*/-->
<!--/*@thymesVar id="team" type="com.przemekost.findmatch.commands.TeamCommand"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Teams</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(teams)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Team Name</th>
                                <th>Amount of Players</th>
                                <th>Captain Name</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>1</td>
                                <td>Lufa</td>
                                <td>22</td>
                                <td>Przemek</td>
                                <td><a href="#">View</a> </td>
                            </tr>
                            <tr th:remove="all">
                                <td>2</td>
                                <td>Jepp</td>
                                <td>222</td>
                                <td>Baran</td>
                                <td><a href="#">View</a> </td>
                            </tr>
                            <!--/*@thymesVar id="event" type="com.przemekost.findmatch.domain.Player"*/-->
                            <tr th:each="team : ${teams}">
                                <td th:text="${team.id}">1</td>
                                <td th:text="${team.teamName}">Przemek</td>
                                <td th:text="${team.amountOfPlayers}">22</td>
                                <td th:text="${team.captain.captainName}">Rzepek</td>
                                <td><a href="#" th:href="@{'/team/' + ${team.id}+'/show'}">View</a> </td>
                                <td><a href="#" th:href="@{'/team/' + ${team.id} + '/update'}">Update</a></td>
                                <td><a href="#" th:href="@{'/team/' + ${team.id} + '/delete'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>