<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View Organizer</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="team" type="com.przemekost.findmatch.commands.TeamCommand"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Team</h1>
                </div>
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Team Name</th>
                                <th>Amount Of Players</th>
                                <th>Captain</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>12333</td>
                                <td>Jeppesen Team</td>
                                <td>22</td>
                                <td>Mateusz Hnatyszyn</td>
                                <td><a href="#">Show Players</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr>
                                <td th:text="${team.id}">334</td>
                                <td th:text="${team.teamName}"></td>
                                <td th:text="${team.amountOfPlayers}"></td>
                                <td th:text="${team.captain.getCaptainName()} + ' ' + ${team.captain.getCaptainLastName()}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Players</h1>
                </div>
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <section>
                                <ol id="listOfPlayers">
                                    <li th:remove="all">Przemek</li>
                                    <li th:remove="all">Michal</li>
                                    <li th:each="player : ${team.getPlayers()}"
                                        th:text="${(player.getPlayerName())} + ' ' + ${(player.getPlayerLastName())}">Trololo Team</li>
                                </ol>
                            </section>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>